[user]
	name = Willington Vega
	email = wvega@wvega.com
[core]
	autocrlf = input
	excludesfile = ~/.gitignore.global
	filemode = true
[alias]
    ch = log --first-parent --pretty=format:'- %s'
    co = checkout
    goback = reset HEAD~1
    merge-point = "!f() { git log --merges --oneline --color=always $1 | tail -1; }; f"
    merged-with = "!f() { git log --oneline --merges --ancestry-path --color=always $1..$2 | tail -1; }; f"
    mf = diff --name-only
    show-merge-base = "!f() { git show $(git merge-base $1 $2); }; f"
    st = status
    wip = !git add -A && git cm "WIP"
    s = status
    a = !git add . && git status
    au = !git add -u . && git status
    aa = !git add . && git add -u . && git status
    c = commit
    cm = commit -m
    ca = commit --amend # careful
    ac = !git add . && git commit
    acm = !git add . && git commit -m
    l = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
    ll = log --stat --abbrev-commit
    lg = log --color --graph --pretty=format:'%C(bold white)%h%Creset -%C(bold green)%d%Creset %s %C(bold green)(%cr)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit
    llg = log --color --graph --pretty=format:'%C(bold white)%H %d%Creset%n%s%n%+b%C(bold blue)%an <%ae>%Creset %C(bold green)%cr (%ci)' --abbrev-commit
    d = diff
    master = checkout master
    spull = svn rebase
    spush = svn dcommit
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
[merge]
	tool = opendiff
